*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: sans-serif;
  
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    padding: 0% !important;
}
.navbar-brand .logo-name{
    margin-top: 25px;
    color: #5f1782;
    font-size: 40px;
   font-weight: 600;
   text-transform: uppercase;

}

.navbar-nav{
    margin-top: 10px;
    padding: 0 10px;
}
.navbar-nav li a{
color: black !important;
font-weight: 600;
font-size: 20px;
text-align: left;
float: right;

}

.navbar-nav li a:hover{
    color: rgb(54, 61, 167) !important;
    font-weight: 600;
    text-align: left;
    float: right;
    
    }

    .navbar-nav li a:active{
        color: rgb(54, 61, 167) !important;
        font-weight: 600;
        text-align: left;
        float: right;
        }
        .fa-bars{
            color: rgb(5, 1, 1);
            font-size: 30px !important;
            
        }
        .navbar-toggler{
            outline: none !important;
            color: rgb(5, 1, 1);
        }


        /* ---banner-- */
        #banner{
           color: rgb(20, 12, 12);
           padding-top: 4%;
        }
        .name{
            font-size: 56px;
            font-weight: 600;
            font-family: sans-serif;
        }

        .name-description{
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.5px;
            
        }

        .img-fluid{
        
            float: left;        
           margin-bottom: 25px;
            width: 100%;
            margin-right: auto;
            background-color: aliceblue;

        }

        /* added---- u shape */
 